.content{
    display: block;
    max-width: 900px;
    margin-top: 55px;
}

.banner{
    width: 100%;
    margin:auto;
}


body{
    padding-bottom: 100px;
}

.banner{
    display: block;
    width: 100%;
}

.pregunta{
    display: block;
    background-color: #E42A1F;
    padding: 5px 25px;
    color:white;
    margin-top:10px;
    margin-bottom:10px;
    position:relative;
    max-width: 1040px;
    text-align: center;
    font-size: 18px;
}

.pregunta::before{
    content: '';
    position: absolute;
    display:block;
    top:0;
    right:0;
    width: 0;
    height: 0;
    border-right: 18px solid white;
    border-top: 18px solid white;
    border-left: 18px solid #E42A1F;
    border-bottom: 18px solid #E42A1F;
    transform: rotate(90deg);
}

@media only screen and (max-width: 968px){
    .pregunta::before{
        display: none;
    }
    
}